<br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-6 center">

      <h2>Cadastre aqui</h2>
<br><br>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :kind,
                      collection: User.kinds.keys.to_a,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "kind" }%>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Cadastrar", Class: "btn-gradient" %>
        </div>
      <% end %>
      <br> <br>


      <% render "devise/shared/links" %>

    </div>
  </div>
</div>
