<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-laravel navbar-teste" style="margin-bottom: 20px;">
    <div class="container">
      <%= link_to  tattoo_artists_path do %>
        <%= image_tag "Marca-Inker-Branco.png", alt: "Inker Tattoo", width: 70 %>
      <% end %>
      <div class="ml-auto flex">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Right Side Of Navbar -->

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%= link_to tattoo_artists_path, class: "nav-link" do %>
              <span class="sr-only">(current_user)</span>
            <% end %>
          </li>
        </ul>

        <!-- Right Side Of Navbar -->
      <% if user_signed_in? %>
        <li class="nav-item nav-fix">
            <span class="badge badge-pill badge-primary badge-count" ><%= TattooRequest.where(tattoo_artist: current_user).count %></span>
            <%= link_to tattoo_artist_tattoo_requests_path(current_user), class: 'nav-link' do %>
            <h6>Requests</h6><span class="sr-only">(current)</span>
            <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/americanobh", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", tattoo_artist_path(current_user), class: "dropdown-item" %>
            <%= link_to "Previous Tattoos", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#elegantModalForm">Login</button>
        </li>
      <% end %>
      </div>
    </div>
  </nav>
