


<% @tattoo_requests.each do |t|  %>
          <div class="col-12">
            <div class="card-product">
              <img src="https://i.pinimg.com/originals/24/b4/ac/24b4ac1a18eed9379d231bc06bb6a3a7.jpg" />
              <div class="card-product-infos">
                <h2><%= t.specialty_id %>    </h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
                <p><%= "Descrição da tattoo:#{t.description}" %></p>
                <p><%= "Parte do Corpo:#{t.bodypart}" %></p>
              </div>
              <div class="flat-card-actions">
                <a href="/tattoo_artists/<%= t.id %>">More info</a>
                <a class="ml-3 text-warning" href="/tattoo_artists/<%= t.id %>/edit">Edit</a>
                <a data-confirm="Are you sure?" class="ml-3 text-danger" rel="nofollow" data-method="delete" href="/tatto_artists/<%= t.id %>">Remove</a>
              </div>
            </div>
          </div>
      </div>
  </div>


<% end %>

-----------------------------------------


          <div class="col-4">
            <div class="flat-card">
              <div class="flat-card-image" style="background-image: url( <%= t.references_photos || "https://i.pinimg.com/originals/24/b4/ac/24b4ac1a18eed9379d231bc06bb6a3a7.jpg" %>)"></div>
              <div class="flat-card-content">
                <div class="flat-card-title">
                  <h4></h4>
                </div>
                <p><%= t.title %></p>
                <div class="flex">
                  <div class="flex">
                    <i class="material-icons mr-2">people</i><span><%= t.description %></span>
                  </div>
                  <div class="flex ml-3">
                    <i class="material-icons mr-2">euro_symbol</i><%= t.bodypart %>
                  </div>
                </div>
              </div>
              <div class="flat-card-actions">
                <a href="/tattoo_artists/<%= t.id %>">The tattoer</a>
                <a class="ml-3 text-warning" href="/tattoo_artists/<%= t.id %>/edit">Edit</a>
                <a data-confirm="Are you sure?" class="ml-3 text-danger" rel="nofollow" data-method="delete" href="/tatto_artists/<%= t.id %>">Remove</a>
              </div>
            </div>
          </div>

          ____________________________________________________________________


          <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-laravel" style="margin-bottom: 20px;">
    <div class="container">
      <a class="navbar-brand" href="#">Website</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Of Navbar -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <span class="badge badge-pill badge-primary" style="float:right;margin-bottom:-10px;">1</span>
            <a class="nav-link" href="messages">Messages <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">People <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Photos <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav ml-auto">
          <li><a class="nav-link" href="#">Login</a></li>
          <li><a class="nav-link" href="#">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>

  ___________________________________________________


  atual :

  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-teste">
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <a href="http://localhost:3000/tattoo_artists"><%= image_tag "Marca-Inker-Branco.png", alt: "Le Wagon", width: 70 %></a>
             <div class="ml-auto flex">
               <form class="form-inline">
                 <a class="btn-menu " href="/users/sign_in">Tatuadores</h5>
                 <a class="btn-menu" href="/users/sign_in">Tattoos</h5>
                 <a class="btn-menu" style="margin-right: 430px" href="/users/sign_in">Estilos</h5>
                 <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="/users/sign_in">Login</a>
               </form>

             </div>
           </div>
         </nav>
