<!DOCTYPE html>
<html>
  <head>
    <title>InkerTattooMktplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>
 <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-teste">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="http://localhost:3000/tattoo_artists"><%= image_tag "Marca-Inker-Branco.png", alt: "Le Wagon", width: 70 %></a>
            <div class="ml-auto flex">
              <form class="form-inline">
                <a class="btn-menu " href="/users/sign_in">Tatuadores</h5>
                <a class="btn-menu" href="/users/sign_in">Tattoos</h5>
                <a class="btn-menu" style="margin-right: 430px" href="/users/sign_in">Estilos</h5>
                <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="/users/sign_in">Login</a>
              </form>

            </div>
          </div>
        </nav>

    <%= yield %>
  </body>
</html>
